$rufous: #991d0fff;
$sapphire: #1152b2ff;
$princeton-orange: #ff8432ff;
$sky-blue-crayola: #7fe1ffff;
$sky-blue-crayola-fully-saturated: #00c4ff;
$light-slate-gray: #81939eff;
$platinum: #e8ebedff;
$eerie-black: #121517ff;
$eerie-black-light: rgb(50, 55, 64);


$color__background-body: $eerie-black;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $princeton-orange;
$color__background-pre: $eerie-black-light;
$color__background-ins: $sky-blue-crayola;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $platinum;
$color__link-visited: $platinum;
$color__link-hover: $princeton-orange;
$color__text-main: $platinum;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
